body {
    background-color: rgb #fafad2
}
<h1 {text-align: center;
    text-decoration-color: rgb(219, 185, 132);
    font-size: 20px;
}
p {
    text-align: center;
}
    
    #entrada{
 width: 100%;
    }
